@import "../../../data/styles.css";
.social,
.email-wrapper {
	display: flex;
	padding-bottom: 20px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
}

.social-icon {
	font-size: 15px;
	color: var(--secondary-color);
	transition: color 0.2s ease;
}

.social-text {
	color: var(--secondary-color);
	padding-left: 30px;
	margin-top: -20px;
	font-weight: 600;
	font-size: 14px;
	transition: color 0.2s ease;
}

.social a:hover .social-icon,
.email-wrapper a:hover .social-icon {
	color: var(--link-color);
}

.social a:hover .social-text,
.email-wrapper a:hover .social-text {
	color: var(--link-color);
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 20px;
}

.email-wrapper {
	padding-top: 20px;
}
