@import "../../../data/styles.css";

.nav-container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3vh;
	z-index: 999;
}

.nav-background {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 420px;
	height: 40px;
	padding-left: 8px;
	padding-right: 8px;
	background: var(--background-color);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	transition: background-color 0.3s ease;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
	gap: 24px;
	margin-left: 16px;
}

.nav-item {
	font-weight: bold;
	font-size: 80%;
}

.nav-item.active a {
	color: var(--link-color) !important;
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
}

.nav-item a:hover {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
	.navbar {
		width: 90%;
	}

	.nav-background {
		width: 100%;
		height: 40px;
	}

	.nav-list {
		gap: 16px;
	}

	.nav-item {
		font-weight: bold;
		font-size: 75%;
	}
}
