:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	--background-color: #fafafa;
	--card-background: #fafafa;
	--card-border: #e4e4e7;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

:root.dark {
	--primary-color: #f4f4f5;
	--secondary-color: #a1a1aa;
	--tertiary-color: #71717a;
	--quaternary-color: #3f3f46;
	--link-color: #2dd4bf;
	--background-color: #18181b;
	--card-background: #18181b;
	--card-border: #3f3f46;
}
